<script src="https://kit.fontawesome.com/9c7f3e0783.js" crossorigin="anonymous"></script>

<p style="color: #03919b"><%= notice %></p>

<%= render @task %>

<div>
  <%= link_to "Back to tasks", tasks_path %>
</div>

