<div id="<%= dom_id category %>">
  <% if category.user == current_user %>
        <%= link_to category do %>
          <%= '<i class="fab fa-slack-hash fa-flip-horizontal"></i>'.html_safe %>
          <%= category.name %>
        <% end %>
  <% else %>
  <% end %>

</div>


